asgiref==3.4.0
autopep8==1.5.7
Django==3.2.4
django-cors-headers==3.10.1
djangorestframework==3.13.1
gunicorn==20.1.0
django-environ
mysqlclient==2.1.1
channels

djangorestframework-simplejwt== 5.2.2
bcrypt

django_storages
boto3
# AI
opencv-python


## AI_WORD
fastdtw
mediapipe
numpy
opencv-contrib-python
opencv-python
pandas
pytube
tdqm
protobuf==3.20.0